SECRET_KEY=SECRET_KEY
DEBUG=True
SQLALCHEMY_ECHO=False
FLASK_SKIP_DOTENV=True
FLASK_ENV=development
FLASK_APP=wsgi:app
DOMAIN=localhost:5000
PROTOCOL=http
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432
POSTGRES_USER=voip_yad
POSTGRES_DB=voip_yad
POSTGRES_PASSWORD=password